<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/"><h3 class="ui header">Expo</h3></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class=""><i class="bars icon"></i></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Awards
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/adminhub/awards/booth">Awards For Booths</a>
                <a class="dropdown-item" href="/adminhub/awards/judge">Awards For Judges</a>
            </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/adminhub/booths" role="button" aria-haspopup="true" aria-expanded="false">Booths</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/adminhub/register" role="button" aria-haspopup="true" aria-expanded="false">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/adminhub/scores" role="button" aria-haspopup="true" aria-expanded="false">Scores</a>
            </li>
        </ul>
        
        <div class="nav-item dropdown">
            
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="ui avatar image" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="/img/1.png">
                Dropdown
            </a>
            <div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="navbarDropdown">
                <span><h6 class="ui header">Welcome!</h6></span>
                <div class="dropdown-divider"></div>
                <a class="center aligned" href="/logout"><i class="fas fa-power-off"></i>Logout</a>
            </div>
        </div>    
    </div>
  </nav>