<%- include('partials/header') -%>
<div class="container container-sm">
    <div class="move moveForm">
        <div class="row">
            <h1 class="loginMsg">STI COLLEGE MARIKINA <br> EXPOSITION</h1>
        </div>
        <div class="row form">
            <div class="centerAlign">
                <form action="/login" method="POST">
                    <div class="form-group">
                        <!-- <label for="username">Username</label> -->
                        <input type="text" class="form-control" name="username" id="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <!-- <label for="password">Password</label> -->
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                    </div>
                    <button class="ui instagram button loadingBtns">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') -%>
