<%- include('partials/header') -%>
<div class="container container-sm">
    <div class="move moveForm">
        <div class="row">
            <h1 class="loginMsg">Sign Up Now!</h1>
        </div>
        <div class="row">
            <div class="centerAlign">
                <form action="/signup" method="POST">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="username" id="username" placeholder="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="password" required>
                    </div>
                    <button class="btn btn-primary">Sign Up</button>
                </form>
                <a href="/login" class="linkAlign">Login</a>
            </div>  
        </div>
    </div>
</div>


<%- include('partials/footer') -%>
